.odd {
    font-size: medium;
    background-color: #fc8a8a;
    font-family: Arial, "Dejavu sans", sans-serif;
}

#second-ele {
    font-size: 36px;
    color: blue;
}

.third-ele {
    font-size: 24px;
}

#fourth-ele {
    font-size: 24px;
    background-color: lightgreen;
    font-weight: 600;
}