/* this is some magical font-importing.  
you'll learn about it later. */
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap");

body {
    margin: 0;
    background: #eee;
    font-family: Besley, serif;
    height: 100vh;
    overflow: hidden;
}

.header {
    background: white;
    border-bottom: -11px solid #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.profile-image {
    background: red;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.logo {
    color: red;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

button {
    border: none;
    border-radius: 8px;
    background: red;
    color: white;
    padding: 8px 24px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: red;
}

ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.right {
    display: flex;
    gap: 16px;
}

.left {
    display: flex;
    gap: 16px;
}

.content {
    display: flex;
    flex-direction: row;
    height: calc(100vh-100px);
}

.gallery {
    display: flex;
    flex-direction: row;
    flex: 2 1 400px;
    gap: 20px;
    overflow-y: scroll;
    height: 950px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 100px;
    padding: 20px;
    border: 2px solid grey;
    margin: 10px;
    border-radius: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 40%;
    /*width: 200px;*/
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    /*flex-grow: 1;*/
    align-items: center;
    flex: 1 1 100px;
    padding: 20px;
}

.image {
    max-width: 100%;
    height: auto;
}

.label {
}

.profile-pic {
    /*width: 80%;*/
    height: 65%;
    width: auto;
    /*flex-grow: 3;*/
}

.more-info {
    background-color: lightgray;
    /*flex-grow: 2;*/
    width: 80%;
    border-radius: 15px;
    padding: 50px;
}

.darius {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 87px);
}

.beautify {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-basis: 300px;
    height: 70%;
}

.choose {
    flex-grow: 1;
}

#mess {
    width: 100%;
}

#ron {
    width: 100%;
}

#ant {
    width: 100%;
}

/*
* {
    border: red 1px solid;
}
*/
